body {
    background-image: url(img/giphy.gif);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    margin-right: 25px;
}

img:last-child {
    margin-right: 0;
}

h1 {
    font-weight: lighter;
    font-weight: bolder;
    font-size: 35px;
    color: #ffa;
    text-shadow: 0 0 20px #ffa;
}

.logo-1 {
    height: 60px;
    width: 50px;
}

.logo-2 {
    height: 80px;
    width: 110px;
}

textarea::placeholder {
    color: #ffffff;
    opacity: 1;
    font-size: 25px;
}

textarea {
    color: #ffffff;
    font-size: 20px;
    background-color: #021165;
    opacity: 0.5;
    width: 1000px;
    height: 160px;
    border: 3px solid;
    border-image: linear-gradient(#088a9b, #1A2E47, #1c64ff) 1;
}

.area-texto {
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    height: 32px;
}

button {
    margin-right: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: none;
    background-color: #1A2E47;
    color: #ffa;
    border: 2px solid #06505a;
}

button:hover {
    cursor: pointer;
    text-shadow: 0 0 20px rgb(240, 240, 166);
    border: 2px solid rgb(28, 102, 204);
}

button:last-of-type {
    margin-right: 0;
}

.desencriptar {
    background-color: #6f0808;
}


/* footer */

footer {
    justify-content: center;
    padding-bottom: 15px;
}

p {
    display: flex;
    color: #ffa;
    text-shadow: 0 0 20px #ffa;
    font-weight: bold;
    font-size: 22px;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
}

a img {
    width: 35px;
    height: 35px;
    padding: 0 20px;
}

@media (min-width: 768px) {}